body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 10px;
    border-top :10px;
}

.center {
    text-align: center;
    padding-left: 250px;
    padding-right:250px;
}

.text-big {
    font-size: 250%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 400px;
}
.Ans{
    font-size: 150%;
    font:Comic Sans MS;
    text-align: center;
    background-color:rgb(0, 170, 255);
}