body {
    font-family: sans-serif;
    background-color: lightgrey;
}

.center {
    text-align: center;
    padding-left: 50px;
    padding-right:50px;
}

.text-big {
    font-size: 250%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 400px;
}
.Ans{
    font-size: 200%;
    font:Comic Sans MS;
    text-align: center;
}
.box{
    border:1px rgb(153, 194, 255);
}
